# Example usage

To use `final` in a project:

import final
print(final.__version__)

# Final Project: API Client for Space Data

This notebook demonstrates the functionality of the API client for space-related data. The package integrates:
- NASA NEO (Near-Earth Object) API
- Launch Library 2 API
- Launch site data scraped from Wikipedia

In [3]:
#!pip install -e ..

## Fetch Near-Earth Object (NEO) Data

We use the `fetch_neo_data` function to retrieve NEO data from NASA's API.

In [5]:
from final.nasa_neo import fetch_neo_data

# Define API Key and fetch data for a 7-day period
API_KEY = "22HhA6JA83J17Yigaa5ZM3Tyzd4jsOP8vpFFdrct"  
neo_df = fetch_neo_data("2024-01-01", "2024-01-07", api_key=API_KEY)

print("NEO DataFrame:")
print(neo_df.head())

NEO DataFrame:
    neo_id                name  is_potentially_hazardous close_approach_date  \
0  2415949  415949 (2001 XY10)                     False   2024-Jan-02 13:14
1  3160747         (2003 SR84)                     False   2024-Jan-02 22:45
2  3309828         (2005 YQ96)                      True   2024-Jan-02 19:42
3  3457842         (2009 HC21)                     False   2024-Jan-02 12:06
4  3553062         (2010 XA11)                     False   2024-Jan-02 15:31

  relative_velocity_km_s    miss_distance_km orbiting_body  \
0          15.8905264223  50452409.349026638         Earth
1          10.7191818981  19798169.933318188         Earth
2          15.6702817644  24984732.559194501         Earth
3           6.0808661718  73609796.924990823         Earth
4           8.7413828775  35275514.131770482         Earth

   estimated_diameter_min_km  estimated_diameter_max_km
0                   0.355267                   0.794401
1                   0.016771                   0.037501
2                   0.199781                   0.446725
3                   0.101054                   0.225964
4                   0.016016                   0.035813

## Fetch Rocket Launch Data

We use the `fetch_all_launches` and `parse_launch_data` functions to retrieve and parse rocket launch data from Launch Library 2 API.

In [6]:
from final.launches import fetch_all_launches, parse_launch_data

# Fetch launch data for January 2024
base_url = "https://ll.thespacedevs.com/2.2.0/launch/"
params = {"window_start__gte": "2024-01-01", "window_end__lte": "2024-01-31"}
launch_data = fetch_all_launches(base_url, params)
launch_df = parse_launch_data(launch_data)

print("Launch DataFrame:")
print(launch_df.head())

Launch DataFrame:
                              launch_id  \
0  2a29a629-f28c-4fc4-8e5f-48e959e0a5b1
1  161dbc75-e973-44f7-a346-6254aec99900
2  1d374bef-0e4e-4b3f-b45b-25c14aaa2b0e
3  7ec40d08-8efd-470a-907e-bb9d34fac5af
4  60634a63-633d-42b3-b87e-710e7e0d4282

                                     name             status  \
0                        PSLV-DL | XPoSat  Launch Successful
1   Falcon 9 Block 5 | Starlink Group 7-9  Launch Successful
2              Falcon 9 Block 5 | Ovzon-3  Launch Successful
3            Kuaizhou-1A | Tianmu-1 15-18  Launch Successful
4  Falcon 9 Block 5 | Starlink Group 6-35  Launch Successful

           window_start            window_end  \
0  2024-01-01T03:40:00Z  2024-01-01T03:40:00Z
1  2024-01-03T02:13:00Z  2024-01-03T06:02:10Z
2  2024-01-03T23:04:00Z  2024-01-03T23:14:00Z
3  2024-01-05T11:09:00Z  2024-01-05T11:32:00Z
4  2024-01-07T21:00:40Z  2024-01-08T00:35:10Z

                             provider  \
0  Indian Space Research Organization
1                              SpaceX
2                              SpaceX
3                              ExPace
4                              SpaceX

                              launch_site_name  \
0  Satish Dhawan Space Centre First Launch Pad
1                      Space Launch Complex 4E
2                      Space Launch Complex 40
3                              Launch Area 95A
4                      Space Launch Complex 40

                                launch_site_location  \
0                  Satish Dhawan Space Centre, India
1                            Vandenberg SFB, CA, USA
2                        Cape Canaveral SFS, FL, USA
3  Jiuquan Satellite Launch Center, People's Repu...
4                        Cape Canaveral SFS, FL, USA

                                               orbit
0  {'id': 8, 'name': 'Low Earth Orbit', 'abbrev':...
1  {'id': 8, 'name': 'Low Earth Orbit', 'abbrev':...
2  {'id': 2, 'name': 'Geostationary Transfer Orbi...
3  {'id': 17, 'name': 'Sun-Synchronous Orbit', 'a...
4  {'id': 8, 'name': 'Low Earth Orbit', 'abbrev':...

## Scrape Launch Site Data

We use the `scrape_launch_sites` function to scrape a list of rocket launch sites from Wikipedia.

In [7]:
from final.scraper import scrape_launch_sites

# Scrape launch site data from Wikipedia
url = "https://en.wikipedia.org/wiki/List_of_rocket_launch_sites"
site_df = scrape_launch_sites(url)

print("Launch Sites DataFrame:")
print(site_df.head())

Launch Sites DataFrame:
          Country                                           Location  \
0  French Algeria  Centre interarmées d'essais d'engins spéciaux ...
1         Algeria                                            Reggane
2           Zaire     Shaba North, Kapani Tonneo OTRAG Launch Center
3           Egypt  Jabal Hamzah ballistic missile test and launch...
4           Kenya           Broglio Space Centre (San Marco),Malindi

                                         Coordinates Operational date  \
0  31°05′58″N2°50′09″W﻿ / ﻿31.09951°N 2.83581°W﻿ ...        1947–1967
1  26°43′08″N0°16′37″E﻿ / ﻿26.71895°N 0.27691°E﻿ ...        1961–1965
2  7°55′33″S28°31′40″E﻿ / ﻿7.92587°S 28.52766°E﻿ ...        1975–1979
3  30°07′32.7″N30°36′18.5″E﻿ / ﻿30.125750°N 30.60...        1962–1973
4  2°56′27″S40°12′48″E﻿ / ﻿2.94080°S 40.21340°E﻿ ...        1964–1988

  Number of rocket launches Heaviest rocket launched  \
0                       230                18,000 kg
1                        10
2                         3
3                         6
4                        27                20,000 kg

  Highest achieved altitude                                              Notes
0                   Orbital                             Operated by France.[1]
1
2                    <50 km                             GermanOTRAGrockets.[2]
3                                      TestingSRBMsAl Zafir and Al Kahir[3][4]
4                   Orbital  Scoutrockets, operated byASIandSapienza Univer...

## Merge NEO, Launch, and Launch Site Data

We use the `merge_data` function to combine all three datasets into a single DataFrame.

In [8]:
from final.utils import merge_data

# Merge all data
merged_df = merge_data(neo_df, launch_df, site_df)

print("Merged DataFrame:")
print(merged_df.head())

Merged DataFrame:
                              launch_id  \
0  2a29a629-f28c-4fc4-8e5f-48e959e0a5b1
1  161dbc75-e973-44f7-a346-6254aec99900
2  1d374bef-0e4e-4b3f-b45b-25c14aaa2b0e
3  7ec40d08-8efd-470a-907e-bb9d34fac5af
4  60634a63-633d-42b3-b87e-710e7e0d4282

                                   name_x             status  \
0                        PSLV-DL | XPoSat  Launch Successful
1   Falcon 9 Block 5 | Starlink Group 7-9  Launch Successful
2              Falcon 9 Block 5 | Ovzon-3  Launch Successful
3            Kuaizhou-1A | Tianmu-1 15-18  Launch Successful
4  Falcon 9 Block 5 | Starlink Group 6-35  Launch Successful

         window_start            window_end  \
0 2024-01-01 03:40:00  2024-01-01T03:40:00Z
1 2024-01-03 02:13:00  2024-01-03T06:02:10Z
2 2024-01-03 23:04:00  2024-01-03T23:14:00Z
3 2024-01-05 11:09:00  2024-01-05T11:32:00Z
4 2024-01-07 21:00:40  2024-01-08T00:35:10Z

                             provider  \
0  Indian Space Research Organization
1                              SpaceX
2                              SpaceX
3                              ExPace
4                              SpaceX

                              launch_site_name  \
0  Satish Dhawan Space Centre First Launch Pad
1                      Space Launch Complex 4E
2                      Space Launch Complex 40
3                              Launch Area 95A
4                      Space Launch Complex 40

                                launch_site_location  \
0                  Satish Dhawan Space Centre, India
1                            Vandenberg SFB, CA, USA
2                        Cape Canaveral SFS, FL, USA
3  Jiuquan Satellite Launch Center, People's Repu...
4                        Cape Canaveral SFS, FL, USA

                                               orbit neo_id  ...  \
0  {'id': 8, 'name': 'Low Earth Orbit', 'abbrev':...    NaN  ...
1  {'id': 8, 'name': 'Low Earth Orbit', 'abbrev':...    NaN  ...
2  {'id': 2, 'name': 'Geostationary Transfer Orbi...    NaN  ...
3  {'id': 17, 'name': 'Sun-Synchronous Orbit', 'a...    NaN  ...
4  {'id': 8, 'name': 'Low Earth Orbit', 'abbrev':...    NaN  ...

  estimated_diameter_min_km estimated_diameter_max_km Country Location  \
0                       NaN                       NaN     NaN      NaN
1                       NaN                       NaN     NaN      NaN
2                       NaN                       NaN     NaN      NaN
3                       NaN                       NaN     NaN      NaN
4                       NaN                       NaN     NaN      NaN

  Coordinates Operational date  Number of rocket launches  \
0         NaN              NaN                        NaN
1         NaN              NaN                        NaN
2         NaN              NaN                        NaN
3         NaN              NaN                        NaN
4         NaN              NaN                        NaN

   Heaviest rocket launched Highest achieved altitude Notes
0                       NaN                       NaN   NaN
1                       NaN                       NaN   NaN
2                       NaN                       NaN   NaN
3                       NaN                       NaN   NaN
4                       NaN                       NaN   NaN

[5 rows x 26 columns]

## Analyze and Visualize Data

In this section, we analyze the following:
1. Distribution of Near-Earth Objects (NEOs) by orbiting body.
2. Number of launches conducted by different providers.
3. Characteristics of potentially hazardous NEOs.
4. Number of launches that coincide with close NEO approaches.

In [11]:
# Group NEOs by their orbiting body
neo_by_orbiting_body = neo_df.groupby("orbiting_body").size().reset_index(name="neo_count")
neo_by_orbiting_body = neo_by_orbiting_body.sort_values(by="neo_count", ascending=False)

print("NEO Count by Orbiting Body:")
print(neo_by_orbiting_body)

NEO Count by Orbiting Body:
  orbiting_body  neo_count
0         Earth        109

In [12]:
# Group launches by provider
launch_by_provider = launch_df.groupby("provider").size().reset_index(name="launch_count")
launch_by_provider = launch_by_provider.sort_values(by="launch_count", ascending=False)

print("Launch Count by Provider:")
print(launch_by_provider)

Launch Count by Provider:
                                             provider  launch_count
8                                              SpaceX            10
1   China Aerospace Science and Technology Corpora...             2
2                                              ExPace             2
0                                           CAS Space             1
3                  Indian Space Research Organization             1
4                                Iranian Space Agency             1
5   Islamic Revolutionary Guard Corps Aerospace Force             1
6                         Mitsubishi Heavy Industries             1
7                               Orienspace Technology             1
9                              United Launch Alliance             1
10                                    Virgin Galactic             1

In [13]:
# Filter hazardous NEOs
hazardous_neos = neo_df[neo_df["is_potentially_hazardous"] == True]

# Top 5 closest hazardous NEOs
hazardous_neos["miss_distance_km"] = hazardous_neos["miss_distance_km"].astype(float)
closest_hazardous_neos = hazardous_neos.nsmallest(5, "miss_distance_km")

print("Top 5 Closest Hazardous NEOs:")
print(closest_hazardous_neos)

# Average size and velocity of hazardous NEOs
average_size = hazardous_neos[["estimated_diameter_min_km", "estimated_diameter_max_km"]].mean()
average_velocity = hazardous_neos["relative_velocity_km_s"].astype(float).mean()

print("Average Size of Hazardous NEOs (min, max):", average_size)
print("Average Velocity of Hazardous NEOs (km/s):", average_velocity)

Top 5 Closest Hazardous NEOs:
     neo_id                name  is_potentially_hazardous close_approach_date  \
19  2669051  669051 (2012 SD22)                      True 2024-01-02 13:50:00
6   3608936         (2012 SD22)                      True 2024-01-02 13:50:00
2   3309828         (2005 YQ96)                      True 2024-01-02 19:42:00
9   2613286  613286 (2005 YQ96)                      True 2024-01-02 19:42:00
96  2199003  199003 (2005 WJ56)                      True 2024-01-07 02:32:00

   relative_velocity_km_s  miss_distance_km orbiting_body  \
19          11.0227939464      2.459731e+07         Earth
6           11.0227943004      2.459731e+07         Earth
2           15.6702817644      2.498473e+07         Earth
9           15.6702896005      2.498480e+07         Earth
96          15.2908365812      2.984994e+07         Earth

    estimated_diameter_min_km  estimated_diameter_max_km year_month
19                   0.256186                   0.572849    2024-01
6                    0.259750                   0.580818    2024-01
2                    0.199781                   0.446725    2024-01
9                    0.198863                   0.444672    2024-01
96                   0.620233                   1.386883    2024-01
Average Size of Hazardous NEOs (min, max): estimated_diameter_min_km    0.306847
estimated_diameter_max_km    0.686130
dtype: float64
Average Velocity of Hazardous NEOs (km/s): 16.510938970890003

/var/folders/rc/t176n3h137scnk86p3hscm8m0000gn/T/ipykernel_21804/1314756881.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hazardous_neos["miss_distance_km"] = hazardous_neos["miss_distance_km"].astype(float)

In [14]:
# Convert date columns to datetime
neo_df["close_approach_date"] = pd.to_datetime(neo_df["close_approach_date"])
launch_df["window_start"] = pd.to_datetime(launch_df["window_start"])

# Match launch dates with NEO close approach dates
launch_and_neo_matches = pd.merge(
    neo_df[["close_approach_date"]], 
    launch_df[["window_start"]], 
    left_on="close_approach_date", 
    right_on="window_start", 
    how="inner"
)

matched_count = launch_and_neo_matches.shape[0]
print(f"Number of launches on the same day as NEO close approaches: {matched_count}")

Number of launches on the same day as NEO close approaches: 0